* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 768px){}

    .titulo-header{
        font-size: 24px;
    }


header {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: transparent;
    align-items: center;
    width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgb(104, 38, 154), rgb(208, 0, 255));
      }

.titulo-header {
    margin: 0;
    font-size: large;
    color: #ffffff;
}

.navlist {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 20px;
    list-style:none;
}

.navlist a {
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.55s ease;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
    white-space: nowrap;
}

.navlist a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
}

.navlist a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navlist li{
    display: inline-block;
        margin-right: auto;
}

.navlist a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
/* Seção titulo  */
.titulo {
    color: white;
    position: relative;
    max-width: auto;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(3, 3, 3, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-text {
    text-align: left;
    
}
  .titulo h4 {
    font-size: 20px;
    color: #ffffff;
  }
  
  .titulo h1 {
    font-size: 40px;
    color: #ffffff;
  }
  
  .titulo h4:last-child {
    margin-bottom: 0;
  }
  
  .titulo img {
    margin-top: 30px;
    border-radius: 50%;
    width: 300px;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

/* Estilo da seção "Sobre Mim" */
#about {
   padding: 40px 0;
   background-color: #ffffff;
   text-align: center;
   margin-bottom: 40px;
   max-width: auto;
   position: relative;
}


#about h2 {
    font-size: 40px;
    color: #181818;
    margin-bottom: 20px;
    
}

#about p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-bottom: 40px;
    padding: auto;
    text-align: center;
    color: #181818;

}

/*Estilo da seção "formação" */

.section-title {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 40px;
  }
  
  .icon {
    font-size: 50px;
    color: #fff;
    border-radius: 50%;
  }
  
  .icon-bg {
    background-color: #fff;
    padding: 50px;

  }
  
  .text-dark {
    color: #ffffff;
    font-size: large;
  }
  
  .text-light {
    color: #fff;
    font-size: large;
  }
  
  .mb-1 {
    margin-bottom: 10px;
  }
  
  .mb-80 {
    margin-bottom: 80px;
  }
  
  .position-relative {
    position: relative;
  }
  
  .rounded-circle {
    border-radius: 50%;
  }
  
  .section {
    padding: 80px 0;
    color: #fff;
  }

  .bx-medal {
    font-size: 40px;
    color: #fff;
  }


/* Estilo da seção "Habilidades" */
#skills {
    padding: 40px 0;
    background-color: #fff;
    
}

#skills h4{
    font-size: 28px;
    color: #181818;
    margin-bottom: 20px;
}

#skills h2{
    color: #181818;
    font-size: 40px;
}

/* Estilos para o gráfico rosquinha */
.progress-wrapper {
    width: 100px;
    height: 100px;
  }
  
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
/* Estilo da seção "Projetos" */

.carousel-item img {
    width: 100%;
    height: 400px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Para ajustar o dimensionamento das imagens */
  }  

.projects h2 {
    color: #181818;
    font-size: 40px;
    align-items: center;
    margin-top: auto;
    padding: auto;

}

.projects .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100vh;
  }

  .image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }
  
  .projects .shuffle-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    width: 100%;
  }
  
  .projects .shuffle-item img {
    width: 100%;
    height: auto;
  }
 /* botão */
  .custom-btn {
    background-color: rgb(148, 17, 196);
    color: white;
  }

  @keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .pulsating-btn {
    animation: pulsate 1.5s infinite;
  }

 /* titulo sobre a img */
  .image-hover {
    position: relative;
    transition: filter 0.3s ease;
  }

  .image-hover:hover {
    filter: brightness(0.2);
  }

  .image-hover::after {
    content: attr(alt);
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .image-hover:hover::after {
    opacity: 1;
  }

  .image-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: large;
  }
  
  .carousel-item:hover .image-overlay {
    opacity: 1;
  }

  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }

/* Estilo da seção "Contato" */
#contact {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
}

#contact h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

#contact p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    align-items: center;
    font-size: large;
}

.container {
    max-width: auto;
    align-items: center;
    text-align: center;
}