* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: transparent;
    padding: 20px;
}

.titulo-header {
    margin: 0;
    font-size: large;
}

body {
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.navlist {
    display: flex;
    margin-right: 66px;
    justify-content: flex-end;
    margin-left: auto;
}

.navlist a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.55s ease;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
    white-space: nowrap;
}

.navlist a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
}

.navlist a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.titulo {
    color: white;
    position: relative;
    max-width: 1200px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo .titulo-text {
    text-align: left;
}

@media (max-width: 768px) {
    header {
        padding: 20px 15px;
    }
}

@media (max-width: 480px) {
    .navlist {
        flex-direction: column;
        align-items: center;
    }
}



