*{
    padding: auto;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background: transparent;
}

body{
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
    
}
.navlist a{
color: white;
font-size: 20 px;
font-weight: 500;
transition: all .55s ease;
text-decoration: none;
position: relative;
margin-left: 40px;
}

.navlist a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s ;
    transform-origin: right;
}
.navlist a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.titulo{
   color: white; 
   
}

.titulo{
    position: relative;
    width: 1200px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255, .5);
    backdrop-filter: blur (20px);
    box-shadow: 0 0 30px rgba(0, 0, 0);
    display: flex;
    justify-content:center;
    align-items: center;
}

.titulo .titulo-text{
    text-align: left;

}

